<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box has-background-dark">

      <h2 class="subtitle has-text-white">{{station.name}}</h2>

    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white">Weather</h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.weather}}</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white">Temp</h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.tempC}} C <br> {{station.tempF}} F</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white">Wind</h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.windBft}} bft</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white">Pressure</h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.pressure}} hpa</p>
      </div>
    </article>
  </div>
</div>

