<div class="box" id="chart">

  <script>
    const data = {
      labels: [
        {{#each reading.trendLabels}}
          "{{this}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature", type: "line",
          values: [
            {{#each reading.tempTrendG}}
              {{this}},
            {{/each}}
          ]
        }
      ]
    }

    const chart = new frappe.Chart("#chart", {
      title: "Temperature Trend",
      data: data,
      type: 'line',
      height: 250,
    })
  </script>

  <form action="/station/{{station._id}}/addchart" method="POST">
    <input type="hidden" name="lat" value="{{station.lat}}">
    <input type="hidden" name="lng" value="{{station.lng}}">
    <button type="submit" class="button is-danger">Add Chart</button>
  </form>
  
</div>

  
 
