<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box has-background-dark">
      <h2 class="subtitle has-text-white has-text-weight-semibold">
        {{station.name}}
        <span class="icon is-pulled-right">
          <i class="fa-solid fa-location-pin has-text-link is-size-1 mr-4 mt-4"></i>
        </span>
      </h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">
          Lat: {{station.lat}} <br>
          Lng: {{station.lng}}
        </p>
      </div>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white has-text-weight-semibold">Weather
        <span class="icon is-pulled-right">
          <i class="has-text-link is-size-1 has-text-danger"><i class="{{station.weatherIcon}}  mr-4 mt-4"></i></i>
        </span>
      </h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.weather}}</p>
      </div>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white has-text-weight-semibold">Temp
        <span class="icon is-pulled-right">
          <i class="fa-solid fa-temperature-low has-text-info is-size-1   mr-4 mt-4"></i>
        </span>
      </h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.tempC}} C <br> {{station.tempF}} F</p>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          <p class="subtitle has-text-white is-size-6">Max: {{station.maxTemp}} C <br> Min: {{station.minTemp}} C</p>
        </div>
        <div class="column">
          <div class="content icon is-pulled-right has-text-info mt-2">
            {{#if (eq station.tempTrend 1)}}
            <i class="fa-solid fa-up-long"></i>
            {{else if (eq station.tempTrend -1)}}
            <i class="fa-solid fa-down-long"></i>
            {{else if (eq station.tempTrend 0)}}
            <i class="fa-solid fa-minus"></i>
            {{/if}}
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white has-text-weight-semibold">Wind
        <span class="icon is-pulled-right">
          <i class="fa-solid fa-wind has-text-success is-size-1 mr-4 mt-4"></i>
        </span>
      </h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.windBft}} bft <br>{{station.windCompass}} <br> Feels like
          {{station.windChill}} C</p>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          <p class="subtitle has-text-white is-size-6">Max: {{station.maxWind}} KMh <br> Min: {{station.minWind}} KMh
          </p>
        </div>
        <div class="column">
          <div class="content icon is-pulled-right has-text-success mt-2">
            {{#if (eq station.windTrend 1)}}
            <i class="fa-solid fa-up-long"></i>
            {{else if (eq station.windTrend -1)}}
            <i class="fa-solid fa-down-long"></i>
            {{else if (eq station.windTrend 0)}}
            <i class="fa-solid fa-minus"></i>
            {{/if}}
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box  has-background-dark">
      <h2 class="subtitle has-text-white has-text-weight-semibold">Pressure
        <span class="icon is-pulled-right">
          <i class="fa-solid fa-gauge has-text-link is-size-1   mr-4 mt-4"></i>
        </span>
      </h2>
      <div class="content">
        <p class="subtitle has-text-white is-size-6">{{station.pressure}} hPa</p>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          <p class="subtitle has-text-white is-size-6">Max: {{station.maxPressure}} hPa <br> Min: {{station.minPressure}}
          hPa</p>
        </div>
        <div class="column">
          <div class="content icon is-pulled-right has-text-link mt-2">
            {{#if (eq station.pressureTrend 1)}}
            <i class="fa-solid fa-up-long"></i>
            {{else if (eq station.pressureTrend -1)}}
            <i class="fa-solid fa-down-long"></i>
            {{else if (eq station.pressureTrend 0)}}
            <i class="fa-solid fa-minus"></i>
            {{/if}}
          </div>
        </div>
      </div>
    </article>
  </div>
</div>